<h1>edit task</h1>

<%= render 'form' %>

<div class="checkbox">
  <input type="checkbox" value="">
  <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
  <p>This task is not completed yet!</p>
</div>

